/* index.html or report page css */
.navbar-icons{
    height: 22px;
}

.fleetLogo{
    height: 30px !important;
}
.nav-title{
    color: black;
}
.sidebar-icons{
    height: 37px;
    margin-bottom: 5px;
    margin-top: 10px;
}

.navigation li a{
    text-align: center;
}
.fleet-color{
    color: #8258EF !important;
}

.fleet-white-bg{
    background: white;
}
.card-heading {
    padding: 10px;
}
.fleet-title{
    font-weight: 500;
    color: rgb(26, 3, 109);
    font-size: 16px;
    padding-top: 10px;
}

/* select box view */
.select2-selection{
    border: 1px solid rgb(196, 195, 195) !important;
    border-radius: 3px;
    padding-left: 5px !important;
}

/* date picker view */
.input-group{
    border: 1px solid rgb(196, 195, 195) !important;
    border-radius: 3px;
    padding-left: 5px !important;
}

.input-group-addon{
    color: rgb(161, 159, 159);
}


/* .checkbox */
.checkbox label:after, 
.radio label:after {
    content: '';
    display: table;
    clear: both;
}

.checkbox .cr,
.radio .cr {
    position: relative;
    display: inline-block;
    border: 1px solid #a9a9a9;
    border-radius: 2px;
    width: 17px;
    height: 16px;
    color: #8258EF;
    /* float: left; */
    margin-right: .5em;
}

.checkbox .cr .cr-icon,
.radio .cr .cr-icon {
    position: absolute;
    font-size: 12px;
    line-height: 1px;;
    top: 50%;
    left: 20%;
}

.checkbox label input[type="checkbox"],
.radio label input[type="radio"] {
    display: none;
}

.checkbox label input[type="checkbox"] + .cr > .cr-icon,
.radio label input[type="radio"] + .cr > .cr-icon {
    transform: scale(3) rotateZ(-20deg);
    opacity: 0;
    transition: all .3s ease-in;
}

.checkbox label input[type="checkbox"]:checked + .cr > .cr-icon,
.radio label input[type="radio"]:checked + .cr > .cr-icon {
    transform: scale(1) rotateZ(0deg);
    opacity: 1;
}
/* /checkbox */
.report-action{
    height: 20px;;
}

.navigation li + li {
    margin-top: 15px !important;
}

.mt-30{
    margin-top: 30px;
}

.panel-body {
    margin-top: -11px !important;
}
.pl-40{
    padding-left: 50px !important;
}

/* table head padding */
.table thead tr th {
    padding-top: 4px;
    padding-bottom: 4px;
    color: #555555;
    /* font-weight: 200 */
}

.comman-action-card{
    background-color: #ededed;
    padding: 1px;
    border: 1px solid #d0cdcd;
    border-radius: 4px;
    margin: 15px;
    color: #929090;
}

.comman-action-card span a{
    color: #a4a4a4;
}

.comman-action-card span a:hover{
    color: rgb(39, 39, 39);
}

.in-active{
    display: none !important;
}
/* .navigation li .active {
 
}

.navigation li .wrapper-side{
    background-color: #8258EF;
    color: #8258EF;
    width: 90px;
    padding-left: 15px;
    border-bottom-right-radius: 15px;
    border-top-right-radius: 15px;
} */

.sa-custom p{
    font-size: 15px !important;
    color: gray;
    line-height: 15px !important;
}

.confirm{
    background-color: #8258EF !important;
    font-size: 15px;
    font-weight: bold;
    border: 1px solid #8258EF;
}

/* cusotm alert notifications css */
.custom-alert-droplist span{
    color: black;
    font-size: 16px;
    text-transform: none !important;
    font-weight: bold;
}
.custom-alert-wrapper{
    background-color: #f6f6f6 !important;
}

.custom-dropdown-body{
    background-color: white;
    padding: 9px;
    border-radius: 6px;
}
.alet-notification-title{
    font-size: 18px;
    font-weight: bold;
}

.multiselect-selected-text{
    color: #999999 !important;
}
/* /custom css for alert notifications */
/* /index.html or report page css */
